    <!-- Features Section -->
    <section id="features" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Features</h2>
                <p class="intro-text">Currently the following features are available:</p>
                <ul class="list-group features">
                    <li class="list-group-item">Register details of your motorbike i.e.: VIN number, manufacturer, make, production years</li>
                    <li class="list-group-item">List history of performed service activities</li>
                    <li class="list-group-item">Register new service activities performed in your motorbike</li>
                    <li class="list-group-item">Be notified about incoming/missing periodic maintenance activities</li>
                    <li class="list-group-item">Request new periodic maintenance activities specific to your motorbike</li>
                </ul>

                <p>We continue to extend the system by adding new features, if something is missing do not hesitate to contact us with ideas you have on mind.</p>
            </div>
        </div>
    </section>